In [1]:
2 + 2

4

# My first day at python programming 

## Lesson 1

### Let get started

* Aims and Objectives
* What to learn upon completion

1. List 0ne
1. Another one
    1. Sub list

**Bold**  *italics*

<font color="blue">Text goes here </font>

Click [here](www.google.com)

![background image](bck.jpeg)

# Data Type

* Number
* Boolean
* Strings
* Lists
* Tuples
* Dictionary
* Set

In [5]:
24 / 4

6.0

In [4]:
24/3

8.0

In [7]:
div = 24 / 3

In [8]:
div

8.0

In [9]:
type(div)

float

In [10]:
int(div)

8

/ * + - % (modulus) // (floor division)

In [11]:
3 ** 2 # to find the square

9

In [12]:
9 ** 0.5 # to find square root

3.0

In [13]:
20 % 5 # remainder

0

In [15]:
20 % 3 # modulus

2

In [16]:
30//4

7

## Strings

In [17]:
# we use  either double "" or single '' quote

name = "Abisoye Akinloye"

In [18]:
name

'Abisoye Akinloye'

In [19]:
"Oni peter"

'Oni peter'

In [20]:
"Mr Solomon's Son"

"Mr Solomon's Son"

In [21]:
'Mr solomon"s son'

'Mr solomon"s son'

In [22]:
' Mr Abisoye\'s son'

" Mr Abisoye's son"

In [25]:
"5" # no more a number 5 but string

'5'

In [23]:
input('Enter your name ')

Enter your name Mr Peter

'Mr Peter'

In [33]:
name = input("Enter your name ")
print('Dear', name+',' ' welcome!!!')

Enter your name Peter
Dear Peter, welcome!!!

In [28]:
name = input("Enter your name ")
print('Dear {}, welcome!!!'.format(name))

Enter your name Samson
Dear Samson, welcome!!!

In [29]:
name = input("Enter your name ")
print(f'Dear {name}, welcome!!!')

Enter your name Abisoye
Dear Abisoye, welcome!!!

In [1]:
first_name = input("Enter your first name ")
second_name = input("Enter your second name ")
age = input("Enter your age ")
sex = input("Enter your sex ")
print(f'You are {first_name} {second_name} by name, You\'re a {sex} and {age} years old.')

Enter your first name Oni
Enter your second name Peter
Enter your age 32
Enter your sex Male
You are Oni Peter by name, You're a Male and 32 years old.

### String concatenation

In [53]:
'5'+ name

'5Oni'

In [54]:
"5"+"5"

'55'

In [56]:
"Abisoye" + " " + "Loye"

'Abisoye Loye'