## String Format

In [1]:
first_name = "Abisoye"
last_name = "Akinloye"
print('My name is {} {}.'.format(first_name,last_name))

My name is Abisoye Akinloye.

In [2]:
# f strings

print(f'My name is {first_name} {last_name}.')

My name is Abisoye Akinloye.

In [3]:
# string index

first_name[0], last_name[-1]

('A', 'e')

In [5]:
# string slicing

last_name[0:4]

'Akin'

In [6]:
full_name = f"{first_name} {last_name}"

In [7]:
full_name

'Abisoye Akinloye'

In [8]:
# string manipulation

full_name.title()

'Abisoye Akinloye'

In [9]:
full_name.replace("o","O")

'AbisOye AkinlOye'

In [13]:
full_name

# N.B: though replace method was used on it but do not alter
# the variable

'Abisoye Akinloye'

In [14]:
full_name.find('loye')

# it only returns the index of the word

12

## Conditional Statement

In [17]:
# if statement

x = 14
y = 10

if x > y:
    print('x is greater than y')

x is greater than y

In [18]:
# if else statement

x = 1
y = 12

if x > y:
    print('x is greater than y')
else:
    print('y is greater than x')

y is greater than x

In [19]:
# Elif statement

che = 3
man_u = 0

if che > man_u:
    print('The winner is Chelsea')
elif che == man_u:
    print('A draw match')
else:
    print('Man U win the match')

The winner is Chelsea

## List

In [20]:
names = ['bola', 'samson', 'nike', 'samuel', 'gbenga']

In [21]:
list1 = [2.0, True, None, "Udofia", 'moses']

In [22]:
# list within lists

list2 = ['Gbenga', 'Moses', ['Abisoye', 'Abdulhammed'], 'taoheed']

In [23]:
list2[2]

['Abisoye', 'Abdulhammed']

In [24]:
list2[2][0]

'Abisoye'

In [27]:
list2[2][1] = 'Hammed'

In [28]:
list2

['Gbenga', 'Moses', ['Abisoye', 'Hammed'], 'taoheed']

In [31]:
names.sort()

In [32]:
names

['bola', 'gbenga', 'nike', 'samson', 'samuel']

In [38]:
type(list2)

list

In [39]:
names.append('paul')

In [40]:
names

['bola', 'gbenga', 'nike', 'samson', 'samuel', 'paul']

In [46]:
names.append(['grace','mercy'])

In [47]:
names

['bola',
 'gbenga',
 'nike',
 'samson',
 'samuel',
 'paul',
 'grace',
 ['grace', 'mercy']]

In [45]:
list2.extend(['rachael','hannah'])
list2

['Gbenga', 'Moses', ['Abisoye', 'Hammed'], 'taoheed', 'rachael', 'hannah']

In [51]:
list2.index('Gbenga')

0

## Tuples

In [52]:
empty_tuple = ()

In [53]:
type(empty_tuple)

tuple

In [54]:
empty = tuple()

In [55]:
type(empty)
empty

()

In [56]:
# add tuple

tuple1 = (2,5,7,1,4)
tuple2 = (1.3, 5, 6, 5.0, 2)

new_tuple = tuple1 + tuple2

In [57]:
new_tuple

(2, 5, 7, 1, 4, 1.3, 5, 6, 5.0, 2)

In [58]:
len(new_tuple)

10

In [59]:
# delete tuple

del tuple1

In [60]:
tuple1

NameError: name 'tuple1' is not defined

## Set

In [61]:
colors = {'red', 'orange', 'yellow', 'indigo', 'red'}

In [63]:
colors

# sets are unique; no repetition of items

{'indigo', 'orange', 'red', 'yellow'}

In [66]:
set_names = set(['sam', 'emma', 'victor', 'tolu'])

# list can be converted to set

In [67]:
set_names

{'emma', 'sam', 'tolu', 'victor'}

In [68]:
set_names.add('damola')

In [69]:
set_names

{'damola', 'emma', 'sam', 'tolu', 'victor'}

In [70]:
set_names.remove('sam')
set_names

{'damola', 'emma', 'tolu', 'victor'}

In [71]:
color1 = {'red','blue','green'}
color2 = {'purple','yellow','orange'}

In [72]:
# union
color1 | color2

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

In [73]:
# intersection
color3 = {'purple','red','orange'}
color1 & color3

{'red'}

In [74]:
# difference

color1 - color3

{'blue', 'green'}

In [75]:
color1 ^ color3

{'blue', 'green', 'orange', 'purple'}

## Dictionary

In [76]:
employee = {
    'name': 'Akinloye',
    'age': 21,
    'job': 'intern',
    'city': 'ogbomoso',
    'email': 'abisoyesam@gmail.com'
}

print(employee)

{'name': 'Akinloye', 'age': 21, 'job': 'intern', 'city': 'ogbomoso', 'email': 'abisoyesam@gmail.com'}

In [77]:
keys = ['name','age','job','city','email']
values = ['Abisoye', 21, 'intern', 'ogbomoso', 'abisoyesam@gmail.com']

internship = dict(zip(keys,values))
print(internship)

{'name': 'Abisoye', 'age': 21, 'job': 'intern', 'city': 'ogbomoso', 'email': 'abisoyesam@gmail.com'}

In [78]:
# accessing dictionary

internship['name']

'Abisoye'

In [80]:
internship.get('city')

'ogbomoso'

In [82]:
print(internship.get('country'))

None

In [83]:
# add or update dictionary

internship['city'] = "ibadan"

internship

{'name': 'Abisoye',
 'age': 21,
 'job': 'intern',
 'city': 'ibadan',
 'email': 'abisoyesam@gmail.com'}

In [84]:
# if key is new, it is added to the dictionary

internship['country'] = 'nigeria'

In [85]:
internship

{'name': 'Abisoye',
 'age': 21,
 'job': 'intern',
 'city': 'ibadan',
 'email': 'abisoyesam@gmail.com',
 'country': 'nigeria'}

In [86]:
# removing items 

internship.pop('age')
internship

{'name': 'Abisoye',
 'job': 'intern',
 'city': 'ibadan',
 'email': 'abisoyesam@gmail.com',
 'country': 'nigeria'}

In [90]:
del internship['country']

In [91]:
internship

{'name': 'Abisoye',
 'job': 'intern',
 'city': 'ibadan',
 'email': 'abisoyesam@gmail.com'}

In [92]:
# remove all items

internship.clear()

In [93]:
internship

{}

## While Loop

In [1]:
# count 0 to 10

x = 0
while x < 11:
    print(x)
    x += 1
print('Done!!!')

0
1
2
3
4
5
6
7
8
9
10
Done!!!

In [2]:
initial = 0
end = 10
while initial <= end:
    print(initial)
    if initial == 4:
        break
    initial += 1
print('Code terminated at initial = 4')

0
1
2
3
4
Code terminated at initial = 4

In [3]:
# continue statement

n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended!!')

4
3
1
0
Loop ended!!

## Functions

In [4]:
def Hello(name = 'World'):
    print(f'Hello {name}!')

In [5]:
Hello()

Hello World!

In [6]:
Hello('Abisoye')

Hello Abisoye!

In [11]:
# function with more than one argument

def AboutMe(name,job,state,country):
    about = f'My name is {name}. I\'m currently an {job} based in {state} state, {country}.'
    print(about)

In [12]:
# positional argument

AboutMe('Abisoye Akinloye', 'Intern', 'Lagos', 'Nigeria')

My name is Abisoye Akinloye. I'm currently an Intern based in Lagos state, Nigeria.

In [14]:
# keyword argument

AboutMe(job="Mech Engr", state="Califonia", name="Abisoye", country="USA")

My name is Abisoye. I'm currently an Mech Engr based in Califonia state, USA.

In [15]:
# variable length positional argument

def print_nums(*args):
    print(args)

In [17]:
print_nums(1,4,6,45,2,22)

(1, 4, 6, 45, 2, 22)

In [22]:

def sum_nums(*args):
    total = 0
    for arg in args:
        total += arg
    print(total)

In [23]:
sum_nums(1,2,3,4,5,6,7,8,9,10)

55

In [24]:
# variable length keyword argument

def workers(**kwargs):
    print(kwargs)

In [25]:
workers(name='Abisoye', job='Intern', age='21')

{'name': 'Abisoye', 'job': 'Intern', 'age': '21'}

## OOP

In [1]:
# classes

class Car:
    pass

SyntaxError: unexpected EOF while parsing (<ipython-input-1-1193e34b2622>, line 4)

In [4]:
# self parameter

class Car:
    def __init__(self):
        pass

### Attribute

In [6]:
# Instance attribute

class Car:
    def __init__(self, color, style):
        self.color = color
        self.style = style

In [7]:
# Class Attribute

class Car:
    wheels = 4
    def __init__(self, color, style):
        self.color = color
        self.style = style