# Data Cleaning & Quality
<hr>

## Missing Data and Dealing with Outliers

### Cleaning Data
- Understand the **data quality**
- improving the quality of data
- Dealing with *missing data* (NA)
    - **Replacing:** with mean or median values
    - **Interpolation:** of the values
- Dealing with **data outliers**
    - Wrong values
- Removing **duplicates**
- The process requires **domain knowledge**

### Missing Data
- Two types of missing data will be considered.
    1. NaN data
    1. Rows in line series data

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Not a Number
df = pd.DataFrame({'a': [np.nan, 2, 3], 'b':[4,5,np.nan]})
df

     a    b
0  NaN  4.0
1  2.0  5.0
2  3.0  NaN

In [5]:
# missing full rows of data in timeseries data
df = pd.DataFrame([i for i in range(10)], index=pd.date_range('2023-01-01',periods=10))
df = df.drop(['2023-01-03','2023-01-05','2023-01-06'])
df

            0
2023-01-01  0
2023-01-02  1
2023-01-04  3
2023-01-07  6
2023-01-08  7
2023-01-09  8
2023-01-10  9

Missing row values in a time series data is where `interpolation` comes into play.

### Outliers
- To determine and outlier, it often requires domain knowledge

In [6]:
df = pd.DataFrame({'weight (kg)': [86, 83,8, 78,109,96, 0]})
df

   weight (kg)
0           86
1           83
2            8
3           78
4          109
5           96
6            0