# Impact of Data Interpolation

<hr>

### Goal of Project 
- See how big impact interpolation can have on results
- See the impact on a simple model usage

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# read the data 
data = pd.read_parquet('./data/weather-predict.parquet')
data.head()

                     Pressure  Pressure+24h
Datetime
2006-04-01 00:00:00   1015.13       1015.68
2006-04-01 01:00:00   1015.63       1015.41
2006-04-01 02:00:00   1015.94       1014.98
2006-04-01 03:00:00   1016.41       1015.18
2006-04-01 04:00:00   1016.51       1014.70

In [3]:
data.shape

(96418, 2)

In [4]:
data.dtypes

Pressure        float64
Pressure+24h    float64
dtype: object

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96418 entries, 2006-04-01 00:00:00 to 2016-09-09 23:00:00
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pressure      96418 non-null  float64
 1   Pressure+24h  96380 non-null  float64
dtypes: float64(2)
memory usage: 2.2 MB

In [6]:
data.corr()['Pressure']

Pressure        1.000000
Pressure+24h    0.419074
Name: Pressure, dtype: float64