# Lesson 6: Databases

<hr>

### Databases

* **Relational databases:** modes data in rows and columns in a series of table.
* Like a collection of DataFrame/Excel sheets
* **SQL:** Structured Query Language
* Non-relational databases (NoSQL)

### Database connector
* The `sqlite3` is an interface for SQLite database
* No installation needed

To import and connect to a SQLite database

```Python
import sqlite3
conn = sqlite3.connect('./filepath')
```

In [1]:
import sqlite3

In [2]:
# connect to database
conn = sqlite3.connect('./data/dallas-ois.sqlite')

In [3]:
# the interface of the database is through a `cursor`

cursor = conn.cursor()

* The `execute` method allows to run `SQL` quaries on our databases.
* To get a list of all the tables the following query can be applied.
```SQL
SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
```
* The result is fetched with the `fetchall()` method.

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name")

In [5]:
cursor.fetchall()

[('incidents',), ('officers',), ('subjects',)]

**To get the description of a table (SQLite specific)**

```SQL
PRAGMA table_info(officers)
```

In [6]:
cursor.execute("PRAGMA table_info(officers)").fetchall()

[(0, 'case_number', 'TEXT', 0, None, 0),
 (1, 'race', 'TEXT', 0, None, 0),
 (2, 'gender', 'TEXT', 0, None, 0),
 (3, 'last_name', 'TEXT', 0, None, 0),
 (4, 'first_name', 'TEXT', 0, None, 0),
 (5, 'full_name', 'TEXT', 0, None, 0)]

<hr>

### SQL syntax

**Get all data from table**
```SQL
SELECT * FROM table_name
```

**Limit the response**
```SQL
SELECT * FROM table_name LIMIT 100
```

**Filter data**
```SQL
SELECT * FROM table_name WHERE column_name > 1
```

### Import data into DataFrame
```Python
import pandas as pd
data = pd.read_sql('SELECT * FROM tablename', conn)
```

In [7]:
import pandas as pd