# SVC
- Classify dogs

<hr>

| Dobermann | German Shepherd | Rottweiler |
|:---------:|:---------------:|:----------:|
|![dobber](../images/dobermann.JPG)|![german](../images/german.JPG)|![rottweiler](../images/rottweiler.JPG)|

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC

In [2]:
data = pd.read_csv('../data/dog.csv')
data.head()

   Weight  Height            Class
0    42.2      66        Dobermann
1    43.0      70        Dobermann
2    39.2      67        Dobermann
3    49.9      63       Rottweiler
4    39.5      65  German Shepherd