# Diabetes Classification (ANN)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('../data/diabetes.csv')
data.head()

   Number of times pregnant  Plasma glucose concentration  ...  Age  Class variable
0                         6                           148  ...   50               1
1                         1                            85  ...   31               0
2                         8                           183  ...   32               1
3                         1                            89  ...   21               0
4                         0                           137  ...   33               1

[5 rows x 9 columns]

In [4]:
data.dtypes

Number of times pregnant          int64
Plasma glucose concentration      int64
Diastolic blood pressure          int64
Triceps skin fold thickness       int64
2-Hour serum insulin              int64
Body mass index                 float64
Diabetes pedigree function      float64
Age                               int64
Class variable                    int64
dtype: object

In [5]:
data.isnull().sum()

Number of times pregnant        0
Plasma glucose concentration    0
Diastolic blood pressure        0
Triceps skin fold thickness     0
2-Hour serum insulin            0
Body mass index                 0
Diabetes pedigree function      0
Age                             0
Class variable                  0
dtype: int64

In [6]:
X = data.drop('Class variable', axis=1)
y = data['Class variable']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=42)

In [ ]:
accuracies = []

for i in range(1,11):
    tf.random.set_seed(i)
    model = Sequential()
    model.add(Dense())