# Fundamentals of Python Programming for Data Science

Day1: 

Aim of the training and Deliverables
Anaconda Environment Setup and Installation

- #### Operators and mathematical operations
- #### Variables
- #### Data Types
- #### Commenting in Pyton
- #### Input and output
## Program Flow Control 
- #### If, elif and else statements
- #### For loops
- #### While loops

# Section 1: Common mathematical operators and operations
Operators are signs and symbols used to join two (2) numbers, variables (operands) While Operation is just a process of joining 2 or more numbers, variables together to form a meaningful expression. SOme basic python operators are:
Addition (+)

Subtraction (-)

Multiplication (*)

Division (/)

Floor Division (//): returns the Quotient part (whole number) of the result and truncates the remainder

Modulus: returns the remainder part of the result and truncates the quotient

Index/Exponent (e): Mathematical exponentials

Parentheses () :Used to indicate order of execution of arithmethic expression eg. P = (A-B) + D will follow

Let (A-B) = C
P = c +
Note: Number of opening parenthesis must be equal to the number of close parenthesis ie. (()), ((()))

In [21]:
52 + 45

97

In [22]:
34 - 65

-31

In [23]:
65/5

13.0

In [24]:
9//2

4

In [1]:
1 + 4.2e-3, 5 * .4e7

(1.0042, 20000000.0)

## Class Work 1: Execute the following 
- 2 * 45
- 5%2
- 6*3+2
- (6*3)+2
- 55//10

# Section 2: Variables
A variable is a named location used to store data in the memory

Note: Variable names cannot be preceeded by a number and cannot be a keyword

In [25]:
A30 = 5004

A30

5004

In [26]:
a, b, c = 5, 3.2, "Hello"

a, b, c

(5, 3.2, 'Hello')

# Section 3: Data Types
A variable name can store any type of data. The common Data types are
- Floating point data
- Integers
- Complex
- String
- Boolean and so on

In [27]:
# Float

a = 2.052       
type(a)

float

In [5]:
#String
b = 'The Hello World!'
type(b)

S = 'It sound"s great!'
type(S)

str

In [29]:
#Integer
c = 65
type(c)

int

In [30]:
#Boolean
d = True
type(d)

bool

In [31]:
c = 5 + 3j
(type(c))

complex

Comments in Python
- Single line
- Multiple line

In [34]:
# This is good

'This is a single line comment'

'This is a single line comment'

In [36]:
''' 
This is still a comment,
and still going, 
still going,
still going,...
'''

' \nThis is still a comment,\nand still going, \nstill going,\nstill going,...\n'

In [1]:

"""
This is also a comment
And it's multi - line
"""

"\nThis is also a comment\nAnd it's multi - line\n"

## String Operation
 A string is defined as sequence of character enlosed in a quote.

### String Indexing

Since Strings are array of characters, string elements (characters) are accessible with the use of indices. The process of doing this is called **String Slicing**

**NOTE: Indexing starts at 0, Therefore, upperbound is always excluded**

In [39]:
S1 = 'It"s so great!'
S2 = 'Nice being here'
#Slicing
S1[0], S1[-1], S1[6:11]

('I', '!', 'o gre')

In [40]:
# String Concatenation: This is the process of joining two (2) or more strings together
S2 + S1

'Nice being hereIt"s so great!'

In [41]:
#String Length
S3 = S2 + S1
len(S3)

29

### String Methods 

Python has a set of built-in methods that you can use on strings. These methods return new values without changing the original string.

[Click here](http://python-ds.com/python-3-string-methods) for more

In [42]:
'''capitalize()	Converts the first character to upper case
   upper()	Converts a string into upper case
'''
S1 = 'It"s so great!'
S2 = 'Nice being here'

S2.capitalize(), S1.upper()

('Nice being here', 'IT"S SO GREAT!')

In [43]:
S1.upper()

'IT"S SO GREAT!'

In [44]:
My_Name = "Mrs Chukwudi Olamide"

Status = My_Name.split()[0]
Gender = My_Name.split()[1]
First_Name = My_Name.split()[-1]

Status, Gender, First_Name

('Mrs', 'Chukwudi', 'Olamide')

## Class Work 2: Practice at least 5 string methods on 
 S3 = 'It"s so great!, Nice being here'

# Section 4: Inputs and Outputs

### Inputs

This is a programme to request for a user's age and output a string "You are **Age** years old" where **Age** is the User's input

In [46]:
age = input('How old are you? ')

How old are you? 19

Other interesting and sometimes, better ways of printing your output

### Outputs - Print Statement

In [47]:
# One way of making your print statement more descriptive
print('You are', age, 'years old')


# One way of making your print statement more descriptive
print ('You are {} years old'.format(age))

# One way of making your print statement more descriptive
print ('You are %d years old' %(int(age)))

You are 19 years old
You are 19 years old
You are 19 years old

# Section 5: Program control flow /Control statements

These statements are use to specify the order of execution of instructs and loop over certain set of instructions if certain conditions are me. The basic control statement in Python includes

 - If... else if (elif)... end
 - For...
 - While... break

Write a program to check a user's age; if age is less than 20, print you're lucky to be here, if age is between 20 and 25, print make good use of this opportunity, if age is above 25, print print you are in the right place?

In [48]:
'''The conditions are:
if age is less than 20, print you're lucky to be here;
if age is between 20 and 25, print make good use of this opportunity;
if age is above 25, print you are in the right place
'''
user_age = input('Input your age please: ')
user_age = int(user_age)                  # To convert user input to an integer
if user_age <= 0:                         # To check for invalid age input
    print('You have entered an invalid age')
elif user_age < 20 :
    print("You're lucky to be here")
elif user_age >= 20 and user_age <= 25:       
    print('Make good use of this opportunity')
else:                                    # This condition considers every other age bracket not included
    print('You are in the right place')

Input your age please: 17
You're lucky to be here

In [0]:
23

##### This is a programme to calculate the volume of cylinders and cones based on users' interest

$ Formula: $
- $ Cone: (1/3)*pi*r^2h $
- $ Cylinder: pi*r^2h $

In [15]:
shape = input('What shape would you like to calculate? cone(c) or cyliner (cy) \n')
radius = int(input('What is the radius in cm? \n'))
height = int(input('What is the height in cm? \n'))

What shape would you like to calculate? cone(c) or cyliner (cy)
cy
What is the radius in cm?
3
What is the height in cm?
4

In [49]:
import math as m
if shape == 'c':
    my_shape = 'Cone'                           # Specifying the real shape name 
    volume = (1/3) * m.pi * (radius ** 2) * height
else:
    my_shape = 'Cylinder'                       # Real shape name
    volume = m.pi * (radius ** 2) * height
print(volume)

113.09733552923255

In [50]:
# One way of making your print statement more descriptive
print ('The volume of a ' + my_shape + ' with radius ' + str(radius) + 'cm and height ' + str(height) + 'cm is ' + str(volume) + 'cm3')

# Another descriptive method to print
output1 = 'The volume of a {} with radius {}cm, and height {}cm, is {}cm3' .format(my_shape, radius, height, volume)
print(output1)

# And yet another descriptive method of printing with decimal output instead of float
output2 = 'The volume of a %s with radius %dcm, and height %dcm, is %dcm3' %(my_shape, radius, height, volume)
print(output2)

The volume of a Cylinder with radius 3cm and height 4cm is 113.09733552923255cm3
The volume of a Cylinder with radius 3cm, and height 4cm, is 113.09733552923255cm3
The volume of a Cylinder with radius 3cm, and height 4cm, is 113cm3

Other interesting and sometimes, better ways of printing your output

## Assignments
#### To be done before the next class

- Write a program to convert the following degrees in Celsius to Fahrenheit
 - 50
 - 100
 - 0
 - 25
- Write a program to calculate simple interest, with the user specifying the principal, rate, and time.
- Write a program to check if a user defined year is leap year or not
- Write a program to check if a user defined number is odd or even

Hints:
 - $ Fahrenheit = 9/5C + 32 $
 - $ Celsius = 5/9(F - 32) $
 - $ Simple interest = PRT/100 $
 - $ Leap year = 366 days $

## N.B: Daily practice is essential to your progress. Have fun!