# Project: Student Grade Predicition
<hr>

## Step 1: Acquire
* Explore problem
* Identify data
* Import data

In [1]:
# import library
import pandas as pd

In [2]:
# read data
data = pd.read_csv('./data/student-mat.csv')
data.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
len(data)

395

<hr>

## Step 2: Prepare
* Explore data
* Visualize data
* Cleaning data

In [6]:
# check for missing data
data.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [7]:
# check the data type
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

<hr>

## Step 3: Analyze Data
* Investigate correlation
* Group the data

### Description
* Want to find 3 features to use in the report
* The 3 features should be selected based on:
    * Actionable insight
    * Convey credibility in report
    * What is realistic within possibilities (including a budget)

In [9]:
# investigate correlation
data.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

**N.B:** Correlation only works for the numeric data.

In [11]:
# check for all features
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

**Group the data by the non-numerical features**

In [12]:
# group the target grade (G3) by the students' school
data.groupby('school')['G3'].mean()

school
GP    10.489971
MS     9.847826
Name: G3, dtype: float64

In [13]:
data.groupby('school')['G3'].count()

school
GP    349
MS     46
Name: G3, dtype: int64

In [14]:
data.groupby('school')['G3'].std()

school
GP    4.625397
MS    4.237229
Name: G3, dtype: float64

<hr>

## Step 4: Report
* Present finding
* Validate results
* Credibility count

### Description
* With the 3 features from step 3 create a presentation
* As we have not learned visualization yet, keep it simple
* Remember, credibility counts

<hr>

## Step 5: Action
* Use insight
* Measure impact
* Main goal

### Description
* What actions should the school take?
* How can they evaluate the impact?
* Remember, this is the main goal.