In [1]:
print("Hello world")

Hello world

In [2]:
print("abisoye","rachael","18","200L")

abisoye rachael 18 200L

In [3]:
print(20)
print(40)
print(50)

20
40
50

In [4]:
print(20,40,50)

20 40 50

In [5]:
print("Hello",end=" ")
print("World")

Hello World

In [6]:
print("Hello",end=",")
print("World")

Hello,World

In [7]:
# print hello
print("hello")

hello

In [8]:
"""
This is a multi-line
comment by me.

Name: Abisoye Rachael
"""

'\nThis is a multi-line\ncomment by me.\n\nName: Abisoye Rachael\n'

In [9]:
my_name = "Abisoye Rachael"

In [10]:
print(my_name)

Abisoye Rachael

In [11]:
def area_of_triangle(base, height):
    return 0.5 * base * height

In [12]:
area_of_triangle(2,5)

5.0

In [13]:
length = float(input("Enter length: "))
width = float(input("Enter width: "))
area = width * length
print(f'The area of the room is {area} squared meter')

Enter length: 4
Enter width: 4
The area of the room is 16.0 squared meter

In [14]:
n = int(input("Enter any number: "))
summation = (n**2 + n)/2
print(f'The summation of number from 1 to {n} is: {summation}')

Enter any number: 2
The summation of number from 1 to 2 is: 3.0

In [15]:
from math import tan,pi
n = int(input("Enter length: "))
s = int(input("Enter number of sides: "))
area = (n * s**2)/4*tan(pi/n)
print(f"The area is {area}")

Enter length: 5
Enter number of sides: 5
The area is 22.704454000167523

In [16]:
age = 18

In [17]:
complex(2,1)

(2+1j)

In [18]:
"a"

'a'

In [19]:
" "

' '

In [20]:
len("Abisoye Rachael")

15

In [21]:
name = "Abisoye"

In [22]:
name[0]

'A'

In [23]:
name[-1]

'e'

In [24]:
last_letter = len(name)-1

In [25]:
last_letter

6

In [26]:
name[last_letter]

'e'

In [27]:
full_name = "Abisoye Rachael"
first_name = full_name[8:]
first_name

'Rachael'

In [28]:
my_string = "This is my string"
print(my_string[::-1])

gnirts ym si sihT

In [29]:
name[::-1]

'eyosibA'

In [30]:
20%4

0

In [31]:
5//2

2

In [32]:
num = 10
num += 5

In [33]:
num

15

In [34]:
num = num + 5

num += 5

In [35]:
"A" in "Akinloye"

True

In [36]:
age = 18
isRegistered = False

if age >= 18 and isRegistered:
    print("You can vote!")
elif age >= 18 and not isRegistered:
    print("Go and register for voter's card")
else:
    print("You are not eligible to vote!!!")

Go and register for voter's card

In [37]:
num = 60

output = "The number is less than or equal 50" if num <= 50 else "The number is greater than 50"
    
print(output)

The number is greater than 50

In [38]:
num = int(input("Enter any number: "))

if num%2 == 0:
    print("It is an even number.")
else:
    print("It is an odd number.")

Enter any number: 24
It is an even number.

In [39]:
year = int(input("Enter a year: "))

if year%4 == 0:
    print(f"Year {year} is a leap year.")
else:
    print(f'Year {year} isn\'t a leap year.')

Enter a year: 1998
Year 1998 isn't a leap year.

In [40]:
sum([4,5,4,5,6,3])

27

In [41]:
len("Abisoye")

7

In [42]:
min([2,3,4,51])

2

In [43]:
def print_name():
    print("Last name: Abisoye")
    print("First name: Rachael")

In [44]:
print_name()

Last name: Abisoye
First name: Rachael

In [45]:
def multipy():
    a,b = 5,7
    return a,b
    print("hello")

In [46]:
multipy()

(5, 7)

In [47]:
a,b = multipy()

In [48]:
a

5

In [49]:
# scope in python

num = 2

def mult():
    num = 8
    return num * 2

print(num)

2

In [50]:
mult()

16

In [51]:
def func():
    name = "Rachael"
    return name

In [52]:
func()

'Rachael'

In [53]:
print(name)

Abisoye

In [54]:
triple = lambda num : num*3

In [55]:
triple(3)

9

In [56]:
def triple(num):
    return num*3

In [57]:
triple(6)

18

In [58]:
sqrt = lambda num : num**0.5

In [59]:
sqrt(16)

4.0

In [60]:
for i in range(10):
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [61]:
n = 0

while n < 10:
    print("Hello, I am Rachael")
    n += 1

Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael
Hello, I am Rachael

In [62]:
for letter in "Abisoye":
    print(letter)

A
b
i
s
o
y
e

In [63]:
len("Abisoye")

7

In [66]:
for i in [1,5,4,6,7,2,4,3]:
    if i == 2:
        continue
    print(i)

1
5
4
6
7
4
3